apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: dev
  annotations: {}
  labels: {}
description: dev
gke:
  cluster: projects/fleet-purpose-467517-g6/locations/us-central1-c/clusters/cluster-1
