apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: hospital
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: amitmankar691/order-service:v1
        ports:
        - containerPort: 8080
